@import "tailwindcss";

@theme {
    --color-primary-glow: rgba(99, 102, 241, 0.1);
    --color-secondary-glow: rgba(168, 85, 247, 0.1);
}

@layer base {
    body {
        @apply bg-slate-950 text-slate-50 antialiased overflow-hidden selection:bg-indigo-500/30;
        font-family: 'Inter', system-ui, -apple-system, sans-serif;
    }
}